.weekend{
	background-color:#a3c2c2;
}
.business{
	background-color:#d9ffb3;
}
.searched{
	background-color:#ff4d4d
}

.no_border{
	border:none;
}

table {
    margin-left: 20px;
	position: relative;	
	font-size: 5px;
}

 td {
  border-radius: 2px;
  border: 1px solid coral;
  color: blue;
}

#date, h2{
	margin: 0 0 20px 20px;
}



